{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="row mt-2">
        <div class="col-lg-12">
            <h4>Application Description</h4>
            {# TODO #}
        </div>
    </div>

{% endblock %}
