{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="row mt-2">
        <div class="col-lg-12">
            <h4>Database Tables</h4>
            <div>CLUBS-Compa needs certain database tables to provide configuration details and content to the application.
                You created these tables using Doctrine automatically during the setup as explained in the previous chapter of this documentation. You also inserted some demo data into the database already.<br/>
                <br/>
                If you are familiar with the administration of MySQL databases, you can find more information about the specifics of their implementation in the source code of the appropriate Symfony Entity classes.
                If you don't need to know details about our database design and its implementation, you can probably skip this chapter.
                <br/>
                <br/>
                The default tables that were created are:
                <ul>
                    <li><a href="#assessment">Assessment</a></li>
                    <li><a href="#dqcombination">DQCombination</a></li>
                    <li><a href="#document">Document</a></li>
                    <li><a href="#pcconfiguration">PCConfiguration</a></li>
                    <li><a href="#pcstandaloneconfiguration">PCStandaloneConfiguration</a></li>
                    <li><a href="#pageevaluation">PageEvaluation</a></li>
                    <li><a href="#querytopic">QueryTopic</a></li>
                    <li><a href="#raconfiguration">RAConfiguration</a></li>
                    <li><a href="#searchresult">SearchResult</a></li>
                    <li><a href="#website">Website</a></li>
                    <li><a href="#app_users">app_users</a></li>
                </ul>
            </div>
            <hr/>
            <h4>Configuration</h4>
            <div>
                The tables <strong>app_users</strong>, <strong>Website</strong>, <strong>PCConfiguration</strong>, <strong>PCStandaloneConfiguration</strong> and <strong>RAConfiguration</strong> hold those settings that are needed for the two modules to work properly.<br/>
                Of course, you can change our demo settings in the admin backend and also define your own default settings.<br/>
                <div  id="app_users">
                    <br/>
                    <strong>app_users</strong>:
                    Information about all users known to the application.
                    <ul>
                        <li><em>Username</em>
                            <ul>
                                <li>Unique username. A username must not contain a dot (".")!</li>
                            </ul>
                        </li>
                        <li><em>Password</em>
                            <ul>
                                <li>Password for this user.</li>
                            </ul>
                        </li>
                        <li><em>email</em>
                            <ul>
                                <li>This column exists in the database but is currently not used in the frontend.</li>
                            </ul>
                        </li>
                        <li><em>is_active</em>
                            <ul>
                                <li>Also not used in the frontend. All users are currently marked as active.</li>
                            </ul>
                        </li>
                        <li><em>Groups</em>
                            <ul>
                                <li>Languages that the user can speak and in which he will see documents in the RA module.</li>
                                {# TODO [ENHANCEMENT]: Currently, only the first language in this array is considered for the document display. #}
                            </ul>
                        </li>
                        <li><em>Roles</em>
                            <ul>
                                <li>Role of the user. A user for the RA module has the role "Assessor", a user for the PC module has the role "SideBySide".<br/>
                                    A user that has access to the backend has the role "Administrator". Be careful, because Administrators can change and delete data!
                                Also make sure that you don't delete the default admin user before you set up another user with admin privileges. Otherwise, you won't be able to open
                                the admin backend anymore and you will need to make a full reimport of the demo data, which will delete all your current settings and data.<br/>
                                Also, you can delete the user you are currently logged in with but this will raise an error message and log you out, of course.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div  id="website">
                    <br/>
                    <strong>Website</strong>:
                    This table holds all information about search engine websites.
                    <ul>
                        <li><em>Website Name</em>
                            <ul>
                                <li>Unique name for the website. It is not allowed to use "None" as a website name.</li>
                            </ul>
                        </li>
                        <li><em>Website URL</em>
                            <ul>
                                <li>URL for the website, incl. all necessary GET parameters!</li>
                            </ul>
                        </li>
                        <li><em>Shown</em>
                            <ul>
                                <li>This column counts how often a website was shown to the user. For example, if you want to add more websites during an experiment but you
                                don't want to lose all data you already collected, you can see how often each website was used in the evaluation. By this, you can interpret the results
                                in a more reliable way.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div  id="pcconfiguration">
                    <br/>
                <strong>PCConfiguration</strong>:
                    This table holds all information necessary for the live version of the PC module.
                <ul>
                    <li><em>Original Page</em>
                        <ul>
                            <li>Users will be redirected to this page if they don't want to participate or if they reached their maximum number of participations.</li>
                        </ul>
                    </li>
                    <li><em>Labeling of evaluation button (left/right)</em>
                        <ul>
                            <li>Labels for the buttons that are used for choosing the first or second page during page comparison.</li>
                        </ul>
                    </li>
                    <li><em>Labeling of middle button</em>
                        <ul>
                            <li>Label for the button that is used when a participant does not prefer either the left or the right side.</li>
                        </ul>
                    </li>
                    <li><em>Randomize page display</em>
                        <ul>
                            <li>If this option is checked, the comparison will be displayed randomly to the user. When using more than 2 websites, they are automatically ranodmized.
                                Unchecking this option thus has only an effect if you have <em>exactly</em> 2 entries in your Website table (see below). In this case, the first page will always be presented
                                on the left side and the other page will be presented on the right side of the screen.
                            </li>
                        </ul>
                    </li>
                    <li><em>Name of the Cookie</em>
                        <ul>
                            <li>Name of the cookie that is used for storing user preferences.</li>
                        </ul>
                    </li>
                    <li><em>Cookie expire time (in days)</em>
                        <ul>
                            <li>Since participation is voluntary, users are asked if they want to participate. A cookie with their choice ("yes" or "no") is saved
                                on their computer. This cookie expires after some time.<br/>
                            After this time, the user will again be prompted to participate in the comparison.</li>
                        </ul>
                    </li>
                    <li><em>Max. participations for a single user per time span</em>
                        <ul>
                            <li>Not every query will be passed to the comparison module. This option declares the maximum number of participations for a single user.</li>
                        </ul>
                    </li>
                    <li><em>Time span (in hours)</em>
                        <ul>
                            <li>After this time, the counter of a single user's participation will be set back to 0.<br/>
                            Example: A user is allowed to participate 10 times during 24 hours. This means that 24 hours after the 10th participation, the counter will
                                be reset and the user can participate again. During this time the user still can access your search engine, of course, but no queries will be
                            transferred to the Page Comparison module.<br/> Even if the maximum number of participations was not reached, the counter will be reset to 0 after the
                            specified time.</li>
                        </ul>
                    </li>
                </ul>
                </div>
                <div  id="pcstandaloneconfiguration">
                    <br/>
                    <strong>PCStandaloneConfiguration</strong>:
                    This table holds all information necessary for the standalone version of the PC module. The description of the single fields is the same as for the live version.
                    <ul>
                        <li><em>Labeling of evaluation button (left/right)</em></li>
                        <li><em>Labeling of middle button</em></li>
                        <li><em>Randomize page display</em></li>
                    </ul>
                </div>
                <div  id="raconfiguration">
                <strong>RAConfiguration</strong>:
                <ul>
                    <li><em>URL</em>
                        <ul>
                            <li>Base URL (including relevant GET parameters) that is used for generating result sets or single documents that will be displayed for assessment.</li>
                        </ul>
                    </li>
                    <li><em>Default language</em>
                        <ul>
                            <li>If no language parameter is passed, the application will use this language as standard.</li>
                        </ul>
                    </li>
                    <li><em>Base language</em>
                        <ul>
                            <li>Documents in this language will be assessed as often as specified in the following field.</li>
                        </ul>
                    </li>
                    <li><em>Number of evaluations for base language</em>
                        <ul>
                            <li>If you want your documents to be rated by more than one assessor, you can specify this number here.</li>
                        </ul>
                    </li>
                    <li><em>Presentation mode</em>
                        <ul>
                            <li>Defines the presentation of documents. Use either a URL and an HTML iframe element or show only titles and abstracts.</li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div> {# End configuration #}

            <hr/>

            <h4 id="pageevaluation">Page Comparison module</h4>
            <div>
                The table <strong>PageEvaluation</strong> is used to store user decisions when comparing websites.<br/>
                <div>
                    <ul>
                        <li><em>Query</em>
                            <ul>
                                <li>Query that was sent to the Page Comparison module.</li>
                            </ul>
                        </li>
                        <li><em>Preferred website</em>
                            <ul>
                                <li>The name of the website that the user preferred. This entry is "none" if no website was preferred over the other.</li>
                            </ul>
                        </li>
                        <li><em>Tester</em>
                            <ul>
                                <li>The name of the user that evaluated the websites. If the live version is used, the users IP is stored instead.</li>
                            </ul>
                        </li>
                        <li><em>Other website</em>
                            <ul>
                                <li>The website that was shown to the user but that he did not prefer. If the user thinks that both websites are equally good (or bad), this column has both website names in it (e.g., "dblp+PubPsych").</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                If you are using the Page Comparison Standalone module, you will also need queries in the database (see <a href="#querytopic">below</a>).
            </div>

            <hr/>

            <h4>Query Assessment module</h4>
            <div>
                The tables <strong>QueryTopic</strong>, <strong>Document</strong>, <strong>SearchResult</strong>, <strong>DQCombination</strong> and <strong>Assessment</strong> store the data
                needed for the Query Assessment module. The former four need to be filled in advance so that the module can display their data to the
                assessors. The <strong>Assessment</strong> table stores the assessment results.<br/>
                See the next pages in this documentation to learn how to import your own data into these tables.
                <div id="querytopic">
                    <br/>
                    <strong>QueryTopic</strong>:
                    <ul>
                        <li><em>Query ID</em>
                            <ul>
                                <li>Identifier for a query.</li>
                            </ul>
                        </li>
                        <li><em>Query</em>
                            <ul>
                                <li>A search query.</li>
                            </ul>
                        </li>
                        <li><em>Topic description</em>
                            <ul>
                                <li>Describes which documents are highly or partially relevant for a given query.</li>
                            </ul>
                        </li>
                    </ul>
                    These queries are also used for the Page Comparison Standalone module.
                </div>
                <div id="document">
                    <strong>Document</strong>:
                    <ul>
                        <li><em>Document ID</em>
                            <ul>
                                <li>Unique identifer for the document.</li>
                            </ul>
                        </li>
                        <li><em>Language of the Document</em>
                            <ul>
                                <li>Language of the document. Assessments are grouped and displayed by language. Users can only see those documents that are in their language (or in the base language).</li>
                            </ul>
                        </li>
                        <li><em>Signature</em>
                            <ul>
                                <li>Unique identifier that can be used for duplicate detection.</li>
                            </ul>
                        </li>
                        <li><em>Title</em>
                            <ul>
                                <li>Title of a document.</li>
                            </ul>
                        </li>
                        <li><em>Author</em>
                            <ul>
                                <li>Author of a document.</li>
                            </ul>
                        </li>
                        <li><em>Abstract</em>
                            <ul>
                                <li>Abstract of a document.</li>
                            </ul>
                        </li>
                        If you do not use the "title and abstract" presentation mode, your documents do not need a title and an abstract. Leave these fields empty.
                    </ul>
                </div>
                <div id="searchresult">
                    <strong>SearchResult</strong>:
                    <ul>
                        <li><em>Query</em>
                            <ul>
                                <li>Refers to an ID from the QueryTopic table.</li>
                            </ul>
                        </li>
                        <li><em>Document</em>
                            <ul>
                                <li>Refers to an ID from the Document table. A document that was found with a given query.</li>
                            </ul>
                        </li>
                        <li><em>Run ID</em>
                            <ul>
                                <li>Search strategy that was used for generating the result set, i.e., the documents list.</li>
                            </ul>
                        </li>
                        <li><em>Rank</em>
                            <ul>
                                <li>Rank in a result set of a document that was found with the given query in the given context/run.</li>
                            </ul>
                        </li>
                        <li><em>Number found</em>
                            <ul>
                                <li>Number of documents that were found for a given query in a certain context/run.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="dqcombination">
                    <strong>DQCombination</strong>:
                    This table stores unique combination of documents and queries. Each Document-Query-Combination is only assessed once, even if it occurs in more than one run.
                    <ul>
                        <li><em>Query</em>
                            <ul>
                                <li>Refers to an ID from the QueryTopic table.</li>
                            </ul>
                        </li>
                        <li><em>Document</em>
                            <ul>
                                <li>Refers to an ID from the Document table. A document that was found with a given query.</li>
                            </ul>
                        </li>
                        <li><em>Evaluated</em>
                            <ul>
                                <li>Stores whether and how often a document-query-run combination was already evaluated.</li>
                            </ul>
                        </li>
                        <li><em>Skipped</em>
                            <ul>
                                <li>Assessments can be skipped. The affected entries from this table need to be reviewed manually (happens for example if languages in the data were incorrect).</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div id="assessment">
                    <strong>Assessment</strong>:
                    <ul>
                        <li><em>Document ID</em>
                            <ul>
                                <li>Refers to an ID from the Documents table.</li>
                            </ul>
                        </li>
                        <li><em>Query ID</em>
                            <ul>
                                <li>Refers to an ID from the QueryTopic table.</li>
                            </ul>
                        </li>
                        <li><em>Rating</em>
                            <ul>
                                <li>Relevance assessment. Is this document relevant for this query?</li>
                            </ul>
                        </li>
                        <li><em>Assessor</em>
                            <ul>
                                <li>Name of the user who rated this Document-Query-Combination.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> {# End Query Assessment Module #}
        </div>
    </div>

{% endblock %}
