{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="row mt-2">
        <div class="col-lg-12">
            <h4>Information for developers</h4>
            If you want to change and adapt the source code of this application, you can do so by setting up the whole application as
            described in <a href="{{ path('documentation', {'part': 'getting-started'}) }}">Getting started</a> and
            <a href="{{ path('documentation', {'part': 'importing-data'}) }}">Importing data</a>.
            A description of the database structure can be found at <a href="{{ path('documentation', {'part': 'database-structure'}) }}">Database structure</a>.

            <hr/>
            <h4>Constants.php</h4>
            <p>Some basic information about the application and the data is stored in a constants file. If you only want to adapt the application to your data, it should
                be enough to change the appropriate values in this file.
            </p>
            <p>
                Simply changing the names should be fine. But it could happen that other parts of the application will not work properly anymore if your change the number
                of entries in the arrays. We did not test this thoroughly. If you want to make extensive changes (like changing the database structure,
                adding more metrics, etc.) to the application, you will need to understand the source code in detail, anyway. But as stated above, small changes should not affect
                the application logic too much.
            </p>

            <hr/>
            <h4>Admin Account</h4>
            <p>
                The default credentials for the admin account that comes with CLUBS Compa are "admin" and "password".
            </p>
            <p>
                If you accidentally deleted this account and have no other admin account set up, you have no chance to log into the administration backend anymore.
                Then you either have to re-install the whole application (which leads to a loss of all your current settings and data), or you can reactivate the
                default administrator in the source code.
            </p>
            <p>
                Go to <em>config/packages/security.yaml</em>, comment out the lines from <code>custom_db_provider</code> to <code>property: username</code> and uncomment the part
                before. You now have an admin user (name: "admin", password: "password") hard-coded in the application and not loaded from the database. You can access the backend again,
                add a new admin user to the database and undo the changes in the <em>config/packages/security.yaml</em> file.
            </p>

            <hr/>
            <h4>Setting up the Page Comparison live module</h4>
            <p>
                TODO
                {# TODO [DOCUMENTATION]: schreiben #}
            </p>

            <hr/>

            <h4>Deploying CLUBS Compa on a server</h4>
            <p>Log into your server, e.g. via SSH. You need to have a MySQL database already set up. Your database user needs to have full read and write
                access to <em>/var/lib/mysql-files</em>. Example code for setting up the database:
            </p>
            <p>
                <code>CREATE DATABASE clubs_compa;<br/>
                    CREATE USER 'clubs_compa'@'localhost' IDENTIFIED BY 'clubs_compa';<br/>
                    GRANT ALL PRIVILEGES ON clubs_compa.* TO 'clubs_compa'@'localhost';<br/>
                    GRANT FILE ON *.* TO 'clubs_compa'@'localhost';<br/>
                    FLUSH PRIVILEGES;</code>
            </p>
            <p>
                Choose a project name. The $USER variables stands for the current user that is logged into your server.
            </p>
            <p>
                <code>cd /var/www</code><br/>
                <code>sudo mkdir clubs_compa</code><br/>
                <code>sudo chown -R $USER:$USER /var/www/clubs_compa</code><br/>
                <code>cd clubs_compa</code><br/>
                <code>git clone https://github.com/alueschow/clubs-compa</code><br/>
                <code>cd sbs-compa</code>
            </p>
            <p>
                Finally, run <code>sudo sh setup_application.sh $FULL_PATH_TO_PROJECT</code> and all necessary dependencies will be installed.
                If an error occurs, you will see this in the terminal. You then have to fix this error in order to go on with the installation process.
            </p>
            <p>
                If you're using Apache web server, you need to configure the root folder for the Apache server so that it links to your projects <em>/web</em> folder. This can be done with
                <code>sudo nano /etc/apache2/sites-available/000-default.conf</code>.
                Don't forget to restart <code>sudo service apache2 restart</code> after you changed the server configuration.
            </p>
        </div>
    </div>

{% endblock %}
