{% extends 'admin_base.html.twig' %}

{% block content %}

    <div class="row mt-2">
        <div class="col-lg-12">
            <h3>CLUBS Compa</h3>
            Welcome to <em>CLUBS Compa</em>, a fully-functional web application for
            <ul>
                <li>comparing documents or search engine websites in an A/B test,</li>
                <li>classifying documents, images, etc.,</li>
                <li>assessing retrieval quality of search engine results.</li>
            </ul>
            Select one of the modules in the navigation bar to get more information, change configuration settings or
            start the module.<br>
            If this is the first time you use CLUBS Compa, read the step-by-step
            introduction and the documentation on the left side.
            <hr>
            The repository can be found at <a href="https://github.com/alueschow/clubs-compa" target="_blank">https://github.com/alueschow/clubs-compa</a>.
            <hr>
            {# TODO [AT THE END]: Add link to demo application? #}
        </div>
    </div>

{% endblock %}
