{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="row mt-2">
        <div class="col-lg-12">
            <h4>General</h4>
            <p>The application uses the <a href="https://symfony.com/" target="_blank">Symfony</a> PHP framework (version 5.0)
                and their template engine <a href="https://twig.symfony.com/" target="_blank">Twig</a>.
                PHP dependencies are maintained using <a href="https://getcomposer.org/" target="_blank">Composer</a> and
                Database integration is handled by a Symfony third-party library called <a href="https://symfony.com/doc/current/doctrine.html" target="_blank">Doctrine</a>.
                CSS is mainly based on <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>.
            </p>
            <p>
                You can find a lot of information about most of these components in the <a href="https://symfony.com/doc/current/index.html" target="_blank">Symfony documentation.</a>
            </p>
            <hr/>
            <h4>Setup</h4>
            Below you will find a short list with the commands needed for setting up CLUBS Compa.
            If any problems occur or you need more explanations, go to the <a href="#long_version">long version</a> at the bottom of this page.
            <p></p>
            <div>
                <h5>Short version</h5>
                <ol>
                    <li>Install <em>Composer</em> and <em>Symfony</em>.</li>
                    <li>Clone the repository from GitHub (<a href="https://github.com/alueschow/clubs-compa" target="_blank">https://github.com/alueschow/clubs-compa</a>) to a project directory and <code>cd</code> into this directory.</li>
                    <li>Set up a new MySQL Database: user, password and database name are all <em>clubs_compa</em></li>
                    <li>Run <code>sudo sh setup_application.sh $FULL_PATH_TO_PROJECT</code>. This will install all dependencies and initialize the database.</li>
                    <li>Start the local PHP server with <code>symfony server:start</code>.</li>
                    <li>Go to <code>localhost:8000/admin</code> and log in by using the default credentials "admin" and "password".</li>
                </ol>
            </div>

            <div id="long_version">
                <h5>Long version with explanations</h5>
            If you want to run CLUBS Compa, develop the code further or eliminate some bugs, follow these steps:
            <ol>
                <li>The source code for this application can be found at GitHub:
                    <a href="https://github.com/alueschow/clubs-compa" target="_blank">https://github.com/alueschow/clubs-compa</a>. Clone the repository.</li>
                <li>
                    <p>
                        Set up a MySQL Database.<br>
                        CLUBS Compa needs some special database tables where configuration etc. will be stored.
                        Your database user needs to have access to the local filesystem. The following MySQL commands might help you to set up the database.
                    </p>
                    <p>
                        <code>CREATE DATABASE clubs_compa;<br/>
                            CREATE USER 'clubs_compa'@'localhost' IDENTIFIED BY 'clubs_compa';<br/>
                            GRANT ALL PRIVILEGES ON clubs_compa.* TO 'clubs_compa'@'localhost';<br/>
                            GRANT FILE ON *.* TO 'clubs_compa'@'localhost';<br/>
                            FLUSH PRIVILEGES;</code>
                    </p>
                </li>
                <li>Run <code>sudo sh setup_application.sh $FULL_PATH_TO_PROJECT</code> to install all dependencies and to import demo data into the databases.</li>
                <li>Start the server that comes with Symfony from your project directory: <code>symfony server:start</code><br/>
                    Go to <code>localhost:8000</code> in your browser and see if the application server was started successfully.<br/>
                    Try out the address <code>localhost:8000/admin</code>; login with the default credentials "admin" and "password".
                </li>
                <li>Click around to see if everything works fine.<br/>
                    You can now edit the configuration for the modules, add users and websites or see which statistics can be produced with CLUBS Compa.<br/>
                    Some parts of the application may not yet work correctly. By importing some of our demo data, all parts should work fine. Simply import the demo data as provided in <em>src/Resources/demo_data</em> using the CLUBS Compa web interface.
                </li>
            </ol>
            Well done! Now you can dive into the source code using an IDE of your choice. See comments in the source files for more information about design and development decisions.
            </div>
        </div>
    </div>

{% endblock %}
