{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="row mt-2">
        <div class="col-lg-12">
            <div>
                <h4>Importing Data</h4>
                <p>Configuration, websites and users can be adapted using the administration backend. Simply change the data as desired and the underlying database tables will be updated, too.
                    After setting up some websites you can already use the Comparison module in live mode. If you want to use the standalone mode or the Assessment module, you need to upload a suitable CSV file.</p>
                <p>Use the import function in the backend of either the Comparison or the Assessment module to upload data.</p>
                <p><strong>Caution: The application has to be in "configuration" mode to upload data.</strong></p>
                <div>In <em>src/Resources/demo_data/IMPORT-DEMO_*.csv</em> we prepared demo data for some use cases. These are:
                    <ul>
                        <li>Comparison module
                            <ul>
                                <li>Comparison of documents</li>
                                <li>Comparison of images</li>
                            </ul>
                        </li>
                        <li>Assessment module
                            <ul>
                                <li>Minimal example for uploading documents</li>
                                <li>Minimal example for uploading images</li>
                                <li>More elaborated example for uploading documents</li>
                                <li>More elaborated example for uploading images</li>
                                <li>Example for uploading iframe data</li>
                            </ul>
                        </li>
                    </ul>
                    Have a look at these examples to understand the CSV structure and its necessary fields.</div>
                <br/>
                <p>If you encounter any errors during upload, the web page will tell you where your import data is incorrect.
                    Additionally, we prepared a <a href="{{ path('documentation', {'part': 'data-import-guide'}) }}">Data Import Guide</a> - see also the link in the navigation menu on the left side.</p>
            </div>

            <hr/>

            <div>
                After uploading your data, setting up the configuration and the users, you can switch your application to "production" mode.
                Your users will now be able to access the comparison or assessment website and to start rating. When in production mode, you can still change the configuration, but you can <strong>not</strong> upload new data.
            </div>
        </div>
    </div>

{% endblock %}
