{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="row mt-2">
        <div class="col-lg-12">
            <h4>Basic Statistics</h4>
            <p>Each module allows you to have a look at the first 20 entries from the corresponding database tables. Just click the link in the module's backend menu and
            select a table.</p>
            <p>
                Additionally, CLUBS Compa presents some basic statistics on the results pages of the single modules. This allows you to examine some main characteristics of your data
                and thus to notice problems or issues at an early stage. For example, the Assessment module shows the number of Document-Query-Combinations that
                were skipped by the assessors. This could indicate that your data is not as consistent or as clean as you want it to be.
            </p>
            <p>Furthermore, you can see how many documents were rated - and how they were rated - for each run. This may give you a first idea of which run yields
                better results than the others.
            </p>
            <p>
                The assessors progress can be seen on the top right of the Assessment module, separated by languages. You can also run custom SQL queries against
                the database tables but this feature is not implemented very extensively since it was mainly used during development of the application. If you are familiar
                with SQL queries, this feature may nevertheless be of some use for you.
            </p>
            <p>
                Some advanced statistics are also available for the Assessment module. You can inspect single queries and their metrics and see which run produced the
                most relevant result lists. But be careful: The metrics are calculated based solely on the already assessed documents, so theses results are not meaningful before <strong>all</strong>
                Document-Query-Combinations were assessed! You can get a feeling for which run may be better than the others, but a final statement can only be made after
                all assessments were finished.
            </p>

            <hr/>

            <h4>Export Results</h4>
            <p>In both modules, all relevant database contents can be exported from the MySQL database to CSV files. By this, further processing and visualization of the data is possible.
                In the Assessment module, the basic statistics can also be exported.
            </p>
            <p>
                More export options will be implemented in future versions of CLUBS Compa.
            </p>
        </div>
    </div>

{% endblock %}
